<h1>Auth Provider and Client Demo</h1>

<h2>Access Token</h2>
<pre id="access-token">
null
</pre>

<h2>Actions</h2>
<button id="auth-btn">Auth</button>
<button id="disauth-btn">Disauth</button>
<button id="force-disauth-btn">Force Disauth</button>
<button id="get-access-token-btn">Get Access Token</button>
<button id="get-access-token-x3-btn">Get Access Token ×3</button>
<button id="fetch-btn">Fetch</button>

<%= javascript_pack_tag 'index' %>
